---
- name: Elektronik-Pakete installieren
  apt:
    name:
      - kicad
      - kicad-libraries
      - kicad-packages3d
      - gerbv
      - qelectrotech
      - sigrok
      - pulseview
      - octave
      - scilab
      - arduino
      - avrdude
      - python3-pip
      - pipx
    state: present
  tags: elektronik_pakete
