---
- name: Verzeichnis f端r APT-Schl端ssel erstellen
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Microsoft GPG-Schl端ssel herunterladen
  get_url:
    url: https://packages.microsoft.com/keys/microsoft.asc
    dest: /etc/apt/keyrings/microsoft.gpg
    mode: '0644'

- name: VS Code Repository hinzuf端gen
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/microsoft.gpg] https://packages.microsoft.com/repos/code stable main"
    state: present
    filename: vscode
    update_cache: yes

- name: VS Code installieren
  apt:
    name: code
    state: present

- name: Standard-VS-Code-Extensions installieren
  command: "code --install-extension {{ item }}"
  loop: "{{ vscode_extensions }}"
  when: vscode_extensions is defined
  become_user: ap14
  environment:
    DISPLAY: ":0"
  ignore_errors: yes
