---
- name: Basis-Pakete installieren
  apt:
    name:
      - git
      - curl
      - vim
      - unattended-upgrades
      - apt-transport-https
      - ca-certificates
    state: present
    update_cache: yes

- name: Unattended Upgrades konfigurieren
  copy:
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    mode: '0644'
    content: |
      Unattended-Upgrade::Origins-Pattern {
          "origin=Debian,codename=${distro_codename},label=Debian-Security";
      };
      Unattended-Upgrade::Automatic-Reboot "false";
      Unattended-Upgrade::Remove-Unused-Dependencies "true";
      Unattended-Upgrade::SyslogEnable "true";

- name: Periodische Updates aktivieren
  copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: '0644'
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
      APT::Periodic::Download-Upgradeable-Packages "1";
